@use '../../../styles/variables' as *;
.stat-card {
  background: $veryLightGreen;
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16rem;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);

  h4 {
    font-size: 14px;
    color: #777;
  }

  h2 {
    font-size: 28px;
    margin: 0.5rem 0;
  }

  p {
    font-size: 14px;
    font-weight: 600;
  }

  .positive {
    color: #4CAF50;
  }

  .negative {
    color: #F44336;
  }
}
