@use "../styles/variables" as *;

.sidebar {
    position: relative;
    background-color: $white;
    top: 0;
    left: 0;
    padding: 1em 1rem;
    width: 15rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease, transform 0.3s ease;
    
    .logoContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        h2.title {
            font-size: 30px;
            color: $green;
            font-weight: bold;
            padding: 0 0 0 1rem;
        }
    }
    
    .burgerContainer {
        content: "";
        background-color: $green;
        position: absolute;
        right: calc(-35px/2);
        top: calc(8rem/1.15);
        width: 35px;
        height: 35px;
        border-radius: 2rem;
        z-index: 1;
        
        .burgerTrigger {
            content: "";
            width: 35px;
            height: 35px;
            background-color: red;
            cursor: pointer;
            z-index: 6;
            opacity: 0;
            position: relative;
        }
        
        .burgermenu {
            content: "";
            background-color: $green;
            position: relative;
            z-index: 1;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            bottom: calc(35px/2);
            left: 0.45rem;
            transition: width 0.3s ease, transform 0.3s ease;
;
        }
        
        .burgermenu::after {
            content: "";
            background-color: $white;
            position: absolute;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            top: 0.4rem;
            transform: translateY(-0.4rem) rotate(45deg);
            transition: width 0.3s ease, transform 0.3s ease;
;
        }
        
        .burgermenu::before {
            content: "";
            background-color: $white;
            position: absolute;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            top: -0.4rem;
            transform: translateY(0.4rem) rotate(-45deg);
            transition: width 0.3s ease, transform 0.3s ease;
;
        }
    }
    
    .burgerContainer::after {
        content: '';
        position: absolute;
        right: 35px;
        top: calc(35px/2);
        z-index: 0;
        width: calc(6rem + 15rem);
        background-color: $lightGrey;
        height: 2px;
        transition: width 0.3s ease, transform 0.3s ease;
    }

    .profileContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 5rem 0 0 0;
        
        img.profile {
            width: auto;
            height: 3.25rem;
            border-radius: 70%;
            object-fit: cover;
        }
        
        .profileContents {
            padding: 0 0 0 1rem;
            
            p.name {
                padding: 0;
                margin: 0;
                font-size: 16px;
                color: $darkGrey;
                text-transform: capitalize;
                font-weight: $heavyFont;
            }
            
            p {
                padding: 0;
                margin: 0;
                font-size: 14px;
                color: $darkGrey;
                text-transform: lowercase;
                
            }
        }
    }

    .contentsContainer {
        margin: 2rem 0 0 0;
        
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            list-style: none;
            padding: 0;
            margin: 0;
            
            li {
                display: flex;
                align-items: center;
                gap: 8px;
                margin: 0.75rem 0;
                padding: 0;
                width: 100%;
                border-radius: 1rem;
                cursor: pointer;
                
                img {
                    pointer-events: none;
                    padding: 0;
                }
                
                .nav-link {
                    height: 100%;
                    width: 100%;
                    padding: 0.75rem;
                    text-decoration: none;
                    color: $darkGrey;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }
            }
            
            .nav-link.active {

                background-color: $veryLightGreen;
                color: $green;
                transition: width 0.3s ease, transform 0.3s ease;
                border-radius: 1rem;
            }
            
            .nav-link:hover {
                background-color: $lightGrey;
                border-radius: 1rem;
                transition: 0.25s all;
            }
        }
    }
}

.sidebar.active {
    width: 3rem;
    transition: width 0.3s ease, transform 0.3s ease;
    
    .logoContainer.active {
        h2.title {
            opacity: 0;
            // transition: width 0.3s ease, transform 0.3s ease;
;
        }
    }

    .burgerContainer.active {
        transition: width 0.3s ease, transform 0.3s ease;
;

        .burgermenu {
            background-color: $white;
            transition: width 0.3s ease, transform 0.3s ease;
;
        }
        
        .burgermenu::before {
            transform: translateY(0rem) rotate(0deg);
            transition: width 0.3s ease, transform 0.3s ease;
;
        }
        
        .burgermenu::after {
            transition: width 0.3s ease, transform 0.3s ease;
;
            transform: translateY(0rem) rotate(0deg);
        }
    }

    .profileContainer {
        .profileContents {
            display: none;
        }
    }

    .contentsContainer {
        span {
            display: none;
        }

        .nav-link {
            // justify-content: center;
            padding: 0.75rem;
            border-radius: 1rem;
        }
    }
}