@use '../styles/variables' as *;
.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;

  grid-template-areas:
  "SC SC SC SC"
  "PMR PMR PMR CC"
  "MC MC MC MAP";
  gap: 2px;

  .test { background: $veryLightGreen; height: 100%; width: 100%;}
  .status-card 
  { 
    grid-area: SC;
    display: flex;
    justify-content:space-around;
    align-items: center;
  }
  .per-month-revenue { grid-area: PMR; }
  .circle-chart { grid-area: CC; }
  .new-customer { grid-area: MC; display: flex; justify-content: center;align-items: center; }
  .map { grid-area: MAP; }
}

