@use '../styles/variables' as *;
.wrapper {
  height: 100vh;
  width: 100%;
  padding: 10PX;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  background-color: $veryLightGreen;
}

.gridLayout {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
}

.box {
  background-color: $veryLightGreen;
  border-radius: 1.5rem;
}

.box1 {
  background-color: #fff;
  grid-column: span 2;
  grid-row: span 3;
}

.box2 {
  grid-row: span 4;
  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}

.box3 {
  grid-row: span 3;
  background-color: #fff;
}

.box4 {
  grid-row: span 3;
  background-color: #fff;
}

.box5 {
  grid-row: span 2;
  background-color: #fff;
}
// .TR .TL .TC .TE {
//   height: 90%;
//   width: 90%;
//   position: relative;
// } 
