@use '../styles/variables' as *;
.layout {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: grid;
    // gap: 10px;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 4rem 1fr 1fr;
    grid-template-areas: 
    "SideBar-Layout TopBar-Layout TopBar-Layout"
    "SideBar-Layout Content-Layout Content-Layout"
    "SideBar-Layout Content-Layout Content-Layout";

    .SideBar-Layout { height: 100%; width: 100%; grid-area: SideBar-Layout; }
    .TopBar-Layout { height: 100%; width: 100%; grid-area: TopBar-Layout; } 
    .Content-Layout { height: 100%; width: 100%; grid-area: Content-Layout; }
}